<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Meadowlark Travel Logo" width="500" height="600">
    </header>
    {{{body}}}
  </body>
</html>